<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="10 seconds">

    <contextName>logback</contextName>

    <property scope="context" name="CONSOLE_LOG_PATTERN" value="%clr(%d{${LOG_DATEFORMAT_PATTERN:-yy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%20.20t]){faint} [%clr(%-40.40logger{39}:%4.4L){cyan}] [%clr(%20.20M){cyan}] %clr(:){faint} %m${LOG_EXCEPTION_CONVERSION_WORD:-%.-10240wEx}%n"/>
    <property scope="context" name="FILE_LOG_PATTERN" value="%d{${LOG_DATEFORMAT_PATTERN:-yy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%20.20t] [%-40.40logger{39}:%4.4L] [%20.20M] : %m${LOG_EXCEPTION_CONVERSION_WORD:-%.-10240wEx}%n"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property name="LOG_HOME" value="${LOG_HOME:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}}"/>

    <springProperty scope="context" name="applicationName" source="spring.application.name" defaultValue="myApplication"/>

    <property name="ERR_LOG_HOME" value="${ERR_LOG_HOME:-${LOG_HOME}/err}"/>
    <property name="APP_LOG_HOME" value="${APP_LOG_HOME:-${LOG_HOME}/app}"/>

    <!-- ERROR日志文件 -->
    <appender name="ERR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 只记录warn及以上级别的日志 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>

        <file>${ERR_LOG_HOME}/err.ing</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名，按天生成文件名 -->
            <fileNamePattern>${ERR_LOG_HOME}/err.%d{yyyy-MM-dd}.log.%i.zip</fileNamePattern>
            <!--15个周期，这里最小单位到天，所以为15天-->
            <MaxHistory>15</MaxHistory>
            <!-- 按时间回滚的同时，按文件大小来回滚 -->
            <maxFileSize>30MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="APP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_HOME}/app.ing</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_HOME}/app.%d{yyyy-MM-dd_HH}.log.%i</fileNamePattern>
            <!--96个周期，这里最小单位到小时，所以为96小时(4天)-->
            <MaxHistory>96</MaxHistory>
            <!-- 按时间回滚的同时，按文件大小来回滚 -->
            <maxFileSize>30MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="ASYNC_APP_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1024</queueSize>
        <discardingThreshold>512</discardingThreshold>
        <includeCallerData>false</includeCallerData>
        <appender-ref ref="APP_FILE"/>
    </appender>

    <logger name="com.xxl.job" level="DEBUG"/>

    <logger name="com.xxl.job.admin.XxlJobAdminApplication" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="ASYNC_APP_FILE"/>
        <appender-ref ref="ERR_FILE"/>
    </root>


</configuration>